<h1>Welcome to SICPA Challenge</h1>
<p>The current project was developed under a three-day Scrum</p>
<ul>
  <li><a href='https://github.com/madaiart/SICPA_Challenge'>GitHub</a> is a public link of the respostorty</li>
  <li>Plase review the Readme file which contains the information done about the project</li>
  <li>The runnig screenshoot are in Readme file</li>
</ul>
<p>About the project</p>
<ul>
  <li>The project has <strong>three branches</strong> and is still in development.
  <li>The project has a number of commits and several pull request to the main branch.</li>
  <li>To get running the project please install docker and compose the solution</li>
</ul>

<h3>Please select from the menu to get information about:</h3>
<ul>
  <li>Enterprises</li>
  <li>Departments</li>
  <li>Employees</li>
</ul>
