<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Form</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <!-- HTML form mark up -->
    <form [formGroup]="entryForm" novalidate>
      <div class="card">
        <div class="card-header">
          <div class="float-left"><h3 class="text-info">Departments</h3></div>
          <div class="float-right">
            <!-- Form edit mode New or Edit -->
            <h5 class="text-warning font-italic">{{ formMode }}</h5>
          </div>
        </div>
        <div class="card-body">
          <div class="alert alert-danger" [hidden]="!error">
            There are wrong inputs, please correct.
          </div>
          <div class="form-group">
            <label for="id">Id</label>
            <label class="d-block">
              <input
                type="text"
                class="form-control"
                formControlName="id"
                autocomplete="id"
                [placeholder]="'Auto Assigned Id'"
                readonly
              />
              <span hidden>Id</span>
              <small
                [hidden]="
                  entryForm.controls.id.valid || entryForm.controls.id.untouched
                "
                class="text-danger"
              >
                Id is required
              </small>
            </label>

            <label for="name">Name</label>

            <label class="d-block">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                autocomplete="current-name"
                [placeholder]="'Enter description here'"
                required
              />
              <span hidden>Name</span>
              <small
                [hidden]="
                  entryForm.controls.name.valid ||
                  entryForm.controls.name.untouched
                "
                class="text-danger"
              >
                Name is required
              </small>
            </label>

            <label for="description">Description</label>
            <label class="d-block">
              <input
                type="text"
                class="form-control"
                formControlName="description"
                autocomplete="description"
                [placeholder]="'Brief description...'"
                required
              />
              <span hidden>Description</span>
              <small
                [hidden]="
                  entryForm.controls.description.valid ||
                  entryForm.controls.description.untouched
                "
                class="text-danger"
              >
                Description is required
              </small>
            </label>

            <label for="Phone">Phone</label>

            <label class="d-block">
              <input
                type="text"
                class="form-control"
                formControlName="Phone"
                autocomplete="current-phone"
                [placeholder]="'Enter title here'"
                required
              />
              <span hidden>Phone</span>
              <small
                [hidden]="
                  entryForm.controls.Phone.valid ||
                  entryForm.controls.Phone.untouched
                "
                class="text-danger"
              >
                Phone is required
              </small>
            </label>

            <label for="statusDepartments">Status</label>

            <label class="d-block">
              <input
                type="text"
                class="form-control"
                formControlName="statusDepartments"
                autocomplete="current-statusDepartments"
                [placeholder]="'Enter salary here'"
                required
              />
              <span hidden>StatusDepartments</span>
              <small
                [hidden]="
                  entryForm.controls.statusDepartments.valid ||
                  entryForm.controls.statusDepartments.untouched
                "
                class="text-danger"
              >
                Status is required
              </small>
            </label>

            <label for="enterprise">Enterprise</label>

            <label class="d-block">
              <input
                type="text"
                placeholder="Select one..."
                class="combobox-input"
                [(ngModel)]="inputItem"
                (ngModelChange)="getFilteredList()"
                (keyup)="onKeyPress($event)"
                (blur)="toggleListDisplay(0)"
                (focus)="toggleListDisplay(1)"
                [ngClass]="{ error: showError }"
              />
              <i *ngIf="showError" class="error-text">Invalid Selection.</i>
              <div class="combobox-options" *ngIf="!listHidden">
                <list-item
                  *ngFor="let item of filteredList; let i = index"
                  [ngClass]="{ selected: i === selectedIndex }"
                  (click)="selectItem(i)"
                >
                  {{ item }}
                </list-item>
              </div>
              <span hidden>Enterprise</span>
              <small
                [hidden]="
                  entryForm.controls.enterprise.valid ||
                  entryForm.controls.enterprise.untouched
                "
                class="text-danger"
              >
                Enterprise required please select one
              </small>
            </label>
          </div>
        </div>
        <div class="card-footer">
          <div class="float-left">
            <!-- HTML markup for Create button -->
            <button
              (click)="onCreate()"
              class="btn btn-primary w-20"
              type="submit"
              [disabled]="entryForm.invalid || !isAddNew"
              *ngIf="this.isAddNew"
            >
              <span><i class="fas fa-plus"></i> Create</span>
            </button>
            <!-- HTML markup for Update button -->
            <button
              (click)="onUpdate(entryForm)"
              class="btn btn-primary w-20"
              type="submit"
              [disabled]="entryForm.invalid || isAddNew"
              *ngIf="!this.isAddNew"
            >
              <span><i class="fas fa-edit"></i> Update</span>
            </button>
            <!-- HTML markup for Delete button -->
            <button
              (click)="onDelee()"
              class="btn btn-danger w-20"
              type="submit"
              [disabled]="entryForm.invalid || isAddNew"
              *ngIf="!this.isAddNew"
            >
              <span><i class="fas fa-trash-alt"></i> Delete</span>
            </button>
          </div>
          <div class="float-right">
            <!-- HTML markup for Back button -->
            <button
              (click)="onCancel()"
              class="btn btn-secondary w-20"
              type="submit"
            >
              <span><i class="fa fa-arrow-left"></i> Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
